<%= render "head"%>

 <section class="section" id="blog">
        <div class="container">
            <h2 class="mb-5">Latest <span class="text-danger">Post</span></h2>
            <div class="row">
                <div class="blog-card">
                    <div class="img-holder">
            <% @posts.each do |post| %>
                
                  <h1 class="index_image">
                    <%= image_tag post.image%></h1>
            
                  
                    <div class="content-holder">

                        <h6 class="title"><%=link_to post.title ,post%></h6>

                        <p class="post-details">
                         <%x=post.admin_id%> 
                         <%c=Admin.find(x)%>
                            <a href="#">By: <%=c.email%>  || Likes: </a>
                            
                        </p>
                        
                        <p><%= post.main.truncate(50)%></p>

                       <%=link_to "Read more" ,post%>
                       <hr>
                        <br>
                        <%end%>
                        
                    </div>
                </div>
               
              

            </div>
        </div>
         
    </section>
    <% if admin_signed_in?%>
                <div class="button_link">
               <%= link_to "New post", new_post_path , id:"destroy_button",style:"margin-left:40%;"%></div>
               <%end%>
