<p style="color: green"><%= notice %></p>

<br><br>
<div id="show_post_title">
<%=  @post.title %></div>
<br>
<%= image_tag @post.image ,id:"post_image"%>
<div class="post_show_main">
<%= @post.main%></div>

<div style="text-align:center;"> 
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %></div><div>
  <%if admin_signed_in?%>
  <%=link_to "Add a comment" ,new_post_comment_path(@post)%>
      <% if current_admin.id==@post.admin_id%>
  
        <%= button_to "Destroy this post", @post, method: :delete ,id:"destroy_button"%>
      <% end %>
      <%end%>

  <%post = Post.find(@post.id)%>
  
  <%= time_ago_in_words(post.created_at)%> ago created.
  <%# <%= render 'comments/form'%> 

  <%= render 'comments'%>
  <br>
  
  
  
</div>
